<p>Vinicius Massuchetto</p>

<p>Exercícios McNamee &amp; Celona</p>

<h3>Exercício 2.5</h3>

<p>A árvore de decisão é o resultado da ordenação e atribuição de pesos
probabilísticos na diagramação de incertezas e suas influências. A construção
de um diagrama de influências é um processo crucial no entendimento do panorama
geral do problema, e que oferece vias seguras para a concepção de árvores de
decisão.</p>

<p>O autor coloca de uma maneira mais específica que "seria muito difícil (senão
impossível) atribuir as articulações de probabilidades diretamente" a uma
árvore de decisão sem a redução do escopo e complexidade que possibilita o uso
efetivo da intuição.</p>

<h3>Exercício 2.9</h3>

<p><img src="McNamee2008-exe2.9.png" alt="" /></p>

<ul>
<li>Probabilidade de que irá custar mais de $10: 33%</li>
<li>Probabilidade de que não irá custar nada: 0.66%</li>
</ul>

<h3>Exercício 2.12</h3>

<p><img src="McNamee2008-exe2.12.png" alt="" /></p>

<ul>
<li>Probabilidade de 21,09%</li>
</ul>

<p>Geração do gráfico:</p>

<pre><code>echo -e "-100 0.1625 \n0 0.5125 \n100 0.8375 \n300 1" | \
gnuplot -p -e "
    plot '-' using 1:2 \
    smooth bezier notitle \
    with filledcurves above x2=130"
</code></pre>
